In [15]:
import pandas as pd
import statistics as sts

In [11]:
ds = pd.read_csv("tempo.csv", sep = ";")
ds

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [12]:
aparencia = ds.groupby("Aparencia").size()
aparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [13]:
#Tratando Aparencia:
ds.loc[(ds["Aparencia"] == "menos", "Aparencia")] = "sol"

In [14]:
ds

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [20]:
#Tratando temperatura:
ds["Temperatura"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [21]:
mediana_temp = sts.median(ds["Temperatura"])

In [22]:
ds.loc[(ds["Temperatura"] < -130.0) | (ds["Temperatura"] > 130.0)] = mediana_temp

In [23]:
#Tratando umidade:

ds["Umidade"].describe()

count     13.000000
mean      88.115385
std       34.782751
min       65.000000
25%       70.000000
50%       80.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [24]:
mediana_umi = sts.median(ds["Umidade"])

In [28]:
ds.loc[(ds["Umidade"] < 0) | (ds["Umidade"] > 100)] = mediana_umi
ds["Umidade"] = ds["Umidade"].fillna(mediana_umi)

In [29]:
ds["Umidade"]

0     85.0
1     90.0
2     86.0
3     82.5
4     80.0
5     70.0
6     65.0
7     73.5
8     70.0
9     82.5
10    70.0
11    90.0
12    75.0
13    91.0
Name: Umidade, dtype: float64

In [32]:
#Tratando vento:

ds["Vento"]

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7           73.5
8          FALSO
9           82.5
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [33]:
ds["Vento"] = ds["Vento"].fillna("Verdeiro")

In [34]:
ds["Vento"]

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7           73.5
8          FALSO
9           82.5
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object